<div class="header">
  <h1>This is the Home Page</h1>
  <%= link_to 'About', about_path %>
</div>

<div class="body">
  <p>This is the Body</p>
</div>


<div class="footer">
  <p>This is the Footer</p>
</div>