// here You'll include changes to the bootstrap default css

// Color Codes: ;
// #FFEBB8
// #EACD83
// #C1A04D
// #9C7B27
// #6F5209

$navbar-default-bg: #c1a04d;

@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: #9C7B27;
}

a:hover {
  color: #6F5209;
}


#logo {
  float: left;
  font-size: 1.7em;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #6F5209;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  //background-image: url("new_cover.png");
  background-image: asset-url('new_cover.png');
  background-repeat: repeat;
  height: 550px;
}

.jumbotron h1 {
  color: #6F5209;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.5em;
  color: #FFF;
  background-color: #c1a04d;
  border-style: none;
}
.btn-xlarge:hover,
.btn-primary:focus,
.btn-primary:active {
  font-size: 1.5em;
  color: #fff;
  background-color: #9C7B27;
  border-style: none;
}

.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}

.article-actions {
  border-top: 1px solid #9C7B27;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #9C7B27;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #9C7B27;
  color: #6F5209;
  // background-color: #9C7B27
}

footer a {
  color: #9C7B27;
}

footer a:hover {
  color: #9C7B27;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
// .navbar-default .navbar-brand:hover {
//   color: white;
//   opacity: 0.75;
// }
// .navbar-default .navbar-nav > li > a:hover {
//   color: white;
//   opacity: 0.75;
// }


// .btn-primary,
// .btn-primary:visited {
//     background-color: #c1a04d;
//     border-style: none;
// }

// .btn-primary:hover, 
// .btn-primary:focus {
//     background-color: #6F5209;
//     border-style: none;
// }

// .btn-primary:active {
//     background-color: #FFF;
//     border-style: #FFF;
// }