<div class="container">
  <footer class= "footer">
    <small>
      Copyright &copy; <a href="http://andresfajardo.co">The Empire</a>
      by <a href="http://andresfajardo.co">Andrés</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>